header {
    padding: 0%;
    grid-template-rows: 50% 50%;
}
header h1 {
    grid-column: 1 / span 3;
    grid-row: 1;
}
header article.contact {
    padding: 0%;
    grid-column: 2;
    grid-row: 2;
    text-align: center;
}
main article.description {
    display: block;
    text-align: center;
}
main.flexbox {
    display: block;
}
article.wall, article.patio, article.repair {
    display: block;
}
article.description section p {
    margin-left: 0%;
}